<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Quick-Dynamic</title>
  </head>
  <body>
    <div>
      <div>Quick Dynamic</div>
      <div>Rename Folders</div>
    </div>
    <div>-----------------------</div>
    <div>Rename Folder</div>
    <div>-----------------------</div>

    <div>
      <!-- name + unique id + name-->
      <div>Name format :</div>
      <div><input type="text" id="name-format" value="" /></div>
      <div>Unique ID format :</div>
      <div>format : [name] {id} [name]</div>

      <div>
        <label for="">Folder Path: </label
        ><input type="text" id="directory-input" value="" />
        <button id="directory-button">Folder Directory</button>
      </div>
      <div><button id="convert">convert!</button></div>
    </div>

    <script src="../static/code.jquery.com_jquery-3.7.0.js"></script>
    <script src="../static/rename-folders.js"></script>
  </body>
</html>
